<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/mp/mp.css">
    <title></title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/main_page">Home</a>
        <div class="dropdown">
            <button class="dropbtn">
                Products
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="base_test">BaseTest</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
        {%if title != 'Sign In' and not is_auth%}
            <button class="button" onclick="window.location.href='/login'">LogIn</button>
        {%endif%}
        {%if title != 'Enter' and not is_auth%}
            <button class="ent_button" onclick="window.location.href='/enter'">Enter</button>
        {%endif%}
        {%if is_auth%}
            <button class="prof" onclick="window.location.href='/profile'"></button>
        {%endif%}
    </div>
    {% block content %}{% endblock %}
</body>
</html>