body
{
    background-color: lightblue
}

.text_block {
    position: absolute;
    width: 50%;
    height: 70%;
    background-color:white;
    top: 15%;
    left: 25%;
}

.right{
    background-color:forestgreen;
    color:white;
}

.wrong {
    background-color: red;
    color:white
}

.none {
    color: black;
}

#timer {
    position: absolute;
    left: 30%;
    top:10%;
}

#mistakes {
    position: absolute;
    left: 60%;
    top: 10%;
}

.back_button {
    margin: 0;
    position: absolute;
    left: 90%;
    top: 90%;
    background-color: brown;
    padding: 14px 40px;
    font-size: 14px;
    border-radius: 24px;
    color: white;
    text-decoration: none;
    outline: none;
}