body
{
    background-color: lightblue
}

.text_block {
    width: 50%;
    height: 700px;
    background-color:white;
    top: 50%;
    left: 50%;
    transform: translate(50%, 15%);
}

.right{
    background-color:forestgreen;
    color:white;
}

.wrong {
    background-color: red;
    color:white
}

.none {
    color: black;
}

#timer {
    position: absolute;
    left: 30%;
    top:10%;
}

#mistakes {
    position: absolute;
    left: 60%;
    top: 10%;
}